* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img {
  user-select: none;
}

a.active, /* активная/посещенная ссылка */
a.hover,  /* при наведении */
a {
  color: inherit;
  text-decoration: none;
}

body {
  height: 100%;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #e7f6ff;
}

.wrapper {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
  max-width: 1080px;
  margin: 50px auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;

  border-bottom: 1px solid #f4f4f4;

  .header__left {
    display: flex;
    align-items: center;
  }

  .header__right {
    display: flex;


    .icons {
      display: block;

      // &::after{
      //   content: "";
        
      // }

      // &:hover{
      //   // background-color: #5c5c5c34;
      //   // height: 10px;
      //   // width: 10px;
      // }
    }
    

    p {
      margin-left: 10px;
      width: 50px;
      color: #5c5c5c;
      font-size: 14px;
      font-weight: 500;
    }

    .comp-li {
      display: flex;
      cursor: pointer;
    }
    
  }

  .name {
    text-transform: uppercase;
  }

  .logo {
    margin: 0 15px 0 15px;
  }

  li {
    list-style: none;
    margin-right: 30px;
  }
}

.content {
  margin: 20px;
}

.sneakers {
  display: flex;
  flex-wrap: wrap;
}

.range-line {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  align-items: center;
  justify-content: space-between;
}

select,
select:focus,
select:hover,
option:hover,
option:focus {
  border:none;
  outline:none;
  border:transparent;
  appearance: none;
  background: none;
  box-shadow: none;

  color:#5C5C5C;
  cursor: pointer;
}

.select {
  display: flex;
  align-items: center;
  width: 140px;
  margin-right: 30px;

  position: relative;

  .select-custom {
    border: 1px solid #f3f3f3;
    margin: 15px;
    align-items: center;

    border-radius: 10px;
    padding: 15px 35px 15px 15px;


    &:focus {
      outline: none; /* Убираем обводку при фокусе */
      box-shadow: none; /* Убираем тень при фокусе */
    }
  }

  img{
    transform: rotate(-90deg);
    position: absolute;
    right: -10px;
  }
}

// .select::after {
//   content: "";
//   background-image: url('../public/img/back-arrow.png');
//   width: 20px;
//   height: 20px;
//   position: absolute;
//   right: 10px;
//   top: 40%;
  
// }

.search-block {
  display: flex;
  border: 1px solid #f3f3f3;
  margin: 15px;
  align-items: center;

  border-radius: 10px;
  padding: 0 15px;

  position: relative;

  input {
    border: 0;
    padding: 13px;
    font-size: 16px;
    outline: 0;
    width: 200px;
  }

  .cross {
    height: 12px;
    position: absolute;
    right: 12px;
    cursor: pointer;
  }
}

.card {
  border: 1px solid #f8f8f8;
  padding: 20px;
  width: 220px;
  border-radius: 40px;
  margin: 0 20px;
  margin-bottom: 30px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

  .img-sneakers {
    margin-left: 15px;
  }

  .plus {
    cursor: pointer;
  }

  &:hover {
    box-shadow: 0px 18px 30px rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);
  }

  .favorite {
    position: absolute;
    cursor: pointer;
  }

  span {
    text-transform: uppercase;
    font-size: 13px;
    opacity: 0.5;
  }

  b {
    font-size: 12px;
  }

  .inner-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .price-card {
    display: flex;
    flex-direction: column;
  }

  p {
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 14px;
  }
}

.button {
  background: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.overlay {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;

  width: 100%;
  height: 100%;

  visibility: hidden;
  transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.overlayVisible {
  visibility: visible;

  .drawer {
    transform: translateX(0);
  }
}

.drawer {
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: #fff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;

  display: flex;
  flex-direction: column;
  min-height: 100%;


  transform: translate(100%);
  transition: transform 0.2s ease-in-out;
  

  h2 {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;

    img {
      cursor: pointer;
    }
  }

  .cart-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 35%;
    left: 15%;

    p {
      margin-bottom: 20px;
      margin-top: -20px;
    }
  }
}

.items {
  flex: 1 1 auto;
  overflow: auto;
  margin-bottom: 40px;
}

.cartTotalBlock {
  ul {
    margin-bottom: 20px;
  }

  display: flex;
  flex-direction: column;
  justify-content: end;

  .line {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
  }

  div {
    flex: 1;
    height: 1px;
    border-bottom: 1px dashed #dfdfdf;
    position: relative;
    top: -4px;
    margin: 0 7px;
  }
}

.cart-item {
  display: flex;
  align-items: center;

  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;

  padding: 20px;
  margin-bottom: 20px;

  .block-sneakers {
    margin-right: 15px;
    transform: translateY(-7px);
  }

  p {
    margin-bottom: 5px;
    font-size: 16px;
  }

  b {
    font-size: 14px;
  }

  .cart-description {
    margin-right: 30px;
  }

  .remove-btn {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

.greenButton {
  position: relative;

  width: 100%;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;

  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: background 0.15s ease-in-out;

  cursor: pointer;

  &:hover {
    background: lighten(#9dd558, 5%);
  }

  &:active {
    background: darken(#9dd558, 5%);
  }

  img {
    position: absolute;
    right: 35px;
    top: 20px;
    transition: transform 0.15s ease-in-out;
  }

  &:hover {
    img {
      transform: translateX(5px);
    }
  }

  &:disabled {
    animation: btn-loading 0.8s ease-in-out infinite;
    background-color: #bebebe !important;
    cursor: default;
  }
}

.info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;

  .cart-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .greenButton {
    margin-top: 40px;
  }

  img {
    width: 70px;
    height: 70px;
  }
}
.sneakers {
  display: flex;
  justify-content: center;
  .skeleton-list {
    display: flex;

    gap: 40px;
  }
}

.app__main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.app__main-container > *:not(:last-child) {
  margin-bottom: 50px;
}

.slider-image {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  height: 100%;
  width: 100%;
}

.main-container {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
}

.window {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.all-pages-container {
  height: 100%;
  display: flex;
  transition: translate;
  transition-property: transform;
  /* transition-duration: 300ms; */
  transition-timing-function: ease-in-out;
}

.arrow {
  cursor: pointer;
}

.pagination {
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
}

.page {
  margin: 0 10px;
  padding: 10px;
  border: 1px solid blue;
  cursor: pointer;
}

.page-current {
  border: 2px solid red;
  font-weight: bold;
}

@keyframes btn-loading {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}
